.container p {
	margin-bottom: 20px;
}

p {
	line-height: 30px;
}

.navbar {
	opacity: 0.9;
}

.jumbotron {
	height: 30em;
	background-size: cover;
  	color: #fff;
}

.home-page {
    background-image: url("/static/img/home/jumbotron-home.jpg");
}

.about-page {
	background-image: url("/static/img/about/jumbotron-about.jpg");
}

.resume-page {
	background-image: url("/static/img/resume/jumbotron-resume.jpg");
}

.photo-page {
	background-image: url("/static/img/photo/jumbotron-photo.jpg");
}

.contact-page {
    background-image: url("/static/img/contact/jumbotron-contact.jpg");
}

.projects-page {
    background-image: url("/static/img/projects/jumbotron-projects.jpg");
}

.jumbotron-content {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 115px;
}

.learn-more-btn {
	opacity: 0.9;
}

.home-thumb {
	margin-top: 20px;
	margin-bottom: 20px;
}

.galleria { 
    width: 100%;
    height: 500px; 
    background: #000 
}

/* TABLET */
@media screen and (max-width: 991px) {
    #huge-cout {
    	font-size: 60px;
    }

    #picture-buffer {
    	margin-top:75px;
    }

    .galleria {
        height: 300px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    #huge-cout {
    	display: none;
    }

    .jumbotron-content {
    	margin-top: 20px;
    }

    #quote-credit {
    	display: none;
    }

    #hello-world-about {
    	font-size: 1.5em;
    }

    #picture-buffer {
    	margin-top:10px;
    }

    #intro-text h2 {
        font-size: 1.2em;
    }

    .home-page {
        background-image: url("/static/img/home/jumbotron-home-mobile.jpeg");
    }

    .about-page {
        background-image: url("/static/img/about/jumbotron-about-mobile.jpg");
    }

    .projects-page {
        background-image: url("/static/img/projects/jumbotron-projects-mobile.jpg");
    }

    .galleria {
        height: 250px;
    }

}

/* DESKTOP */
@media screen and (min-width: 992px) {
	#huge-cout {
    	font-size: 80px;
    }
    #picture-buffer {
    	margin-top:75px;
    }
    ::selection {
        background: #7F7F7F;
    }
}



#intro-text h2{
	line-height: 50px;
}

.social-icons img {
    height: 30px;
}