.container .row p {
	margin-bottom: 20px;
}

p {
	line-height: 30px;
}

.navbar {
	opacity: 0.9;
}

.jumbotron {
	height: 30em;
	background-image: url("/static/img/home/jumbotron-home.jpg");
	background-size: cover;
  	color: #fff;
}

.about-page {
	background-image: url("/static/img/about/jumbotron-about.jpg");
}

.resume-page {
	background-image: url("/static/img/resume/jumbotron-resume.jpg");
}

.photo-page {
	background-image: url("/static/img/photo/jumbotron-photo.jpg");
}

.jumbotron-content {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 115px;
}

.container {
  margin: 0px;
  padding: 0px;
}

.learn-more-btn {
	opacity: 0.9;
}

.home-thumb {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* TABLET */
@media screen and (max-width: 991px) {
    #huge-cout {
    	font-size: 60px;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {
    #huge-cout {
    	font-size: 40px;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
	#huge-cout {
    	font-size: 80px;
    }
}

::selection {
	background: #2F2F25;
}

.intro-text h3{
	line-height: 50px;
}