{% extends "templates/base.html" %}
{% block content %} 

<link rel="stylesheet" type="text/css" href="static/real-world.css" property="stylesheet">
	
<div class="col-md-4 col-sm-4">
	<div id="picture-buffer"></div>
	<img src="static/img/home/home-face-pic.jpg" class="img-responsive img-circle" alt="Professional Photo" />
</div>

<div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1">
	<h2 id="hello-world-about" style="text-align:right;">cout &lt;&lt; "Hello world!"<span class="blink">_</span></h2>
	
	<br />

	<p style="text-align: justify;">Welcome to my online portfolio! My name is Brady Mathieson, and it is very nice to meet you! I am a student at the University of Michigan in Ann Arbor, studying Computer Science with an emphasis in data and information. On campus, I am the Digital Photo Editor of SHEI Magazine and the Membership Chair of my professional technology fraternity, Kappa Theta Pi. I am an avid portrait, landscape, and travel photographer, hiker, quote analyzer, and lover of all musics and cultures.</p>

	<p style="text-align: justify;">When asked what inspires me, I cannot define it more accurately than saying "the unknown." Everything is meaningless to us until we discover its meaning. I am constantly pushing myself and challenging what I believe to be true. The only thing I can absolutely say about my future is that there will never be a point in which I stop learning, because what's the fun in that?</p>

	<p style="text-align: justify;">To learn more, I invite you to click around this website. Here, you will find my resumé, some of my projects (one of my largest being this website itself!), and hopefully learn more about me. As always, if you have any questions, do not hesitate to send me an email.</p>

	<p style="text-align: justify;">Thanks for stopping by, and have a great day!</p>

	<p>Best,</p><br />

	<img src="static/img/about/signature.png" class="img-responsive" style="width:75%;float:right;" alt="signature" />
</div>

{%endblock%}