{% extends "templates/base.html" %}
{% block content %}
	
	<p>Here is me and my friend Michiko, having good old fashioned wholesome fun:<br />
		<img src="static/friend1.JPG" style="width:400px" alt="Image of Michiko" />
	</p>

	<p>Here I am with my friend Natasha, happy because we love Middle Eastern food:<br />
		<img src="static/friend2.jpg" style="width:300px" alt="Image of Natasha" />
	</p>

	<p>Here is my friend Dara and I celebrating the fall weather in the Law Quad:<br />
		<img src="static/friend3.jpg" style="width:600px" alt="Image of Dara" />
	</p>


{% endblock %}