{% extends "templates/base.html" %}
{% block content %} 

<link rel="stylesheet" type="text/css" href="static/real-world.css" property="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css' property="stylesheet">

<script src="static/fb_login.js"></script>

	<div style="text-align: center;"><h1 id="huge-cout" style="margin-bottom:40px;">cout &lt;&lt; "Hello <span id="status"></span>!"</h1></div>

	<hr>

<div id="intro-text">
	<p style="font-family:menlo;"><b>string</b> intro = </p>
	<h2 style="text-align:justify;">&quot;Welcome to my website! My name is <span style="font-family:menlo;">&lt;i&gt;</span><i> Brady Mathieson </i><span style="font-family:menlo;">&lt;/i&gt;</span> and I am a sophomore at the <span style="font-family:menlo;">&lt;a href="umich.edu"&gt;</span> <a href="http://umich.edu">University of Michigan</a> <span style="font-family:menlo;">&lt;/a&gt;</span> studying <span style="font-family:menlo;">Computer Science<span class="blink">_</span></span> and <span style="font-family: 'Playfair Display', serif;">Asian Studies</span>. I am interested in the interaction between <span class="wobble">humans</span> and <span class="wobble">computers</span>. How can we use technology to make our lives <span style="font-family:menlo;">&lt;i&gt;</span><i> easier? </i><span style="font-family:menlo;">&lt;/i&gt;</span>&quot;;</h2>

	<hr> 

	<p style="font-family:menlo;"><b>char*</b> continue = </p>
	<h2 style="text-align:right;">&quot;I also like to take pictures from time to time&quot;;</h2>

	<hr>

	<p style="font-family:menlo;">&lt;body onload="showImages()"&gt;</p>

	<div class="home-image-thumbnails">
		<div class="col-md-3 col-sm-6">
			<img class="home-thumb img-responsive" src="static/img/home/thumb1.jpg" alt="Thumbnail 1" />
		</div>
		<div class="col-md-3 col-sm-6">
			<img class="home-thumb img-responsive" src="static/img/home/thumb2.jpg" alt="Thumbnail 2" />
		</div>
		<div class="col-md-3 col-sm-6">
			<img class="home-thumb img-responsive" src="static/img/home/thumb3.jpg" alt="Thumbnail 3" />
		</div>
		<div class="col-md-3 col-sm-6">
			<img class="home-thumb img-responsive" src="static/img/home/thumb4.jpg" alt="Thumbnail 4" />
		</div>
	</div>

	<hr>

	<p style="font-family:menlo;"><b>char[]</b> closer = </p>
	<h2 style="text-align:justify;">&quot;I invite you to click around my portfolio to see what I have been working on. Do not hesitate to contact me if you have any questions, concerns, or music recommendations. Have a great day!&quot;;</h2>
</div>

{%endblock%}