{% extends "templates/base.html" %}
{% block content %} 

<link rel="stylesheet" type="text/css" href="static/real-world.css">

<!-- <div class="col-md-7 col-md-offset-1 col-sm-4 col-sm-offset-1"> -->
	<center><h1 id="huge-cout">cout << "Hello world!"<span class="blink">_</span></h1></center>

<div class="home-image-thumbnails">
	<div class="col-md-3 col-sm-6">
		<img class="home-thumb img-responsive" src="static/img-home/thumb1.jpg" />
	</div>
	<div class="col-md-3 col-sm-6">
		<img class="home-thumb img-responsive" src="static/img-home/thumb2.jpg" />
	</div>
	<div class="col-md-3 col-sm-6">
		<img class="home-thumb img-responsive" src="static/img-home/thumb3.jpg" />
	</div>
	<div class="col-md-3 col-sm-6">
		<img class="home-thumb img-responsive" src="static/img-home/thumb4.jpg" />
	</div>
</div>

{%endblock%}