{% extends "templates/base.html" %}
{% block content %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="static/galleria/galleria-1.4.2.min.js"></script>

<h2>Landscape</h2>
<div class="galleria">
    <img src="static/img/photo/landscape1.jpg" alt="L1">
    <img src="static/img/photo/landscape2.jpg" alt="L2">
    <img src="static/img/photo/landscape3.jpg" alt="L3">
    <img src="static/img/photo/landscape4.jpg" alt="L4">
    <img src="static/img/photo/landscape5.jpg" alt="L5">
    <img src="static/img/photo/landscape6.jpg" alt="L6">
    <img src="static/img/photo/landscape7.jpg" alt="L7">
    <img src="static/img/photo/landscape8.jpg" alt="L8">
    <img src="static/img/photo/landscape9.jpg" alt="L9">
    <img src="static/img/photo/landscape10.jpg" alt="L10">
    <img src="static/img/photo/landscape11.jpg" alt="L11">
    <img src="static/img/photo/landscape12.jpg" alt="L12">
    <img src="static/img/photo/landscape13.jpg" alt="L13">
</div>

<br />

<h2>Portrait</h2>
<div class="galleria">
    <img src="static/img/photo/portrait1.jpg" alt="P1">
    <img src="static/img/photo/portrait2.jpg" alt="P2">
    <img src="static/img/photo/portrait3.jpg" alt="P3">
    <img src="static/img/photo/portrait4.jpg" alt="P4">
    <img src="static/img/photo/portrait5.jpg" alt="P5">
    <img src="static/img/photo/portrait6.jpg" alt="P6">
    <img src="static/img/photo/portrait7.jpg" alt="P7">
    <img src="static/img/photo/portrait8.jpg" alt="P8">
    <img src="static/img/photo/portrait9.jpg" alt="P9">
</div>

<script type="text/javascript">
    Galleria.loadTheme('static/galleria/classic/galleria.classic.min.js');
    Galleria.run('.galleria');
</script>

{% endblock %}