{% extends "templates/base.html" %}
{% block content %}
	
<ul>
	<li><a href="http://brittle.herokuapp.com">Guestbook</a></li>
	<ul>
		<li>A guestbook for my website, made entirely with Ruby on Rails.</li>
		<li>Upcoming development will turn the Guestbook into a full-fledged social media service</li>
	</ul>
	<li><a href="http://geecsquadschedulizer.herokuapp.com/">gEECSquadSchedulizer</a></li>
	<ul>
		<li>An online tool, allowing University of Michigan students to see what courses in the upcoming semester are available and store courses in a "backpack" for later reference.</li>
		<li>Utilizing Python, HTML, CSS, and Javascript</li>
		<li>Developed in Fall 2014</li>
	</ul>
</ul>

{% endblock %}