{% extends "templates/base.html" %}
{% block content %}
<style scoped>
ul, li {
	list-style-type: none;
}
</style>
	
<ul>
	<li><a href="http://brady-posting-wall.herokuapp.com">Posting Wall</a></li>
	<li>
		<ul>
			<li>A posting wall for my website, made entirely with Ruby on Rails.</li>
			<li>Initial development stage, started in Winter 2016</li>
		</ul>
	</li>
	<li><a href="/fb_login.html">Facebook Login</a></li>
	<li>
		<ul>
			<li>Allows users to login to my website and have a personalized message!</li>
			<li>Initial development stage, started in Winter 2016</li>
		</ul>
	</li>
	<li><a href="http://geecsquadschedulizer.herokuapp.com/">gEECSquadSchedulizer</a></li>
	<li>
		<ul>
			<li>An online tool, allowing University of Michigan students to see what courses in the upcoming semester are available and store courses in a "backpack" for later reference.</li>
			<li>Utilizing Python, HTML, CSS, and Javascript</li>
			<li>Developed in Fall 2014</li>
		</ul>
	</li>
	<li><a href="http://bradymath.co">bradymath.co</a></li>
	<li>
		<ul>
			<li>Developed entirely in Python (jinja2), and deployed with the Google Developer API</li>
			<li>Utilizing HTML, CSS (Twitter Bootstrap), and Javascript</li>
			<li>Developed in Winter 2016 (but always being improved)</li>
		</ul>
	</li>
</ul>

<p>Most of my projects are available to view on my <a href="http://github.com/bradymathieson">GitHub</a> page.</p>

{% endblock %}