{% extends "templates/base.html" %}
{% block content %}
<style scoped>
ul, li {
	list-style-type: none;
}
</style>
	
	<p>Education:</p>
	<ul>
		<li>University of Michigan--Ann Arbor</li>
		<li>
			<ul>
				<li>B.S. Computer Science, emphasis on Data and Information</li>
				<li>Minor in Asian Studies</li>
				<li>Graduating in May 2018</li>
			</ul>
		</li>
		<li>Hong Kong University of Science and Technology (upcoming)</li>
		<li>
			<ul>
				<li>Database Management Systems (COMP 3311)</li>
				<li>Matrix Algebra (MATH 2111)</li>
			</ul>
		</li>
		<li>Adlai E. Stevenson High School (Lincolnshire, IL)</li>
		<li>
			<ul>
				<li>Class of 2014</li>
			</ul>
		</li>
	</ul>

	<p>Work Experience:</p>
	<ul>
		<li>Floh, <i>Server-side Development Intern</i> (upcoming)</li>
		<li>Reach150, <i>Software Development Intern</i></li>
		<li>
			<ul>
				<li>Second-in-command engineer for a startup referral management platform.</li>
				<li>Development of new layout and functionality, utilizing and expanding introductory knowledge of Java, JSP, XML, and MySQL, along with basic usage of HTML, Javascript, and CSS.</li>
				<li>Heavy emphasis on debugging.</li>
				<li>Learned about working in a fast-paced startup environment, emphasizing on efficient communication and transfer of information</li>
				<li>Summer 2015</li>
			</ul>
		</li>
		
		<li>SHEI Magazine, <i>Digital Photo Editor</i></li>
		<li>
			<ul>
				<li>Editor for a photography and pop culture publication, overseeing the production of a monthly web magazine, SHIFT.</li>
				<li>Have been previously published both online and in the Fall 2014 print issue of SHEI Magazine.</li>
				<li>Emphasis on setting up and running studio shoots, along with extensive usage of Adobe Photoshop.</li>
				<li>September 2014 - current</li>
			</ul>
		</li>

		<li>University of Michigan College of Engineering, <i>EECS 183 Grader</i></li>
		<li>
			<ul>
				<li>Grader for EECS 183, the introductory computer programming course at the university, teaching in C++ and Python.</li>
				<li>Grading style and functionality in code for the 700+ students who take the class each semester, and helping to ensure that students are learning and receiving feedback as efficiently as they can.</li>
				<li>September 2015 - current</li>
			</ul>
		</li>

		<li>Kappa Theta Pi, <i>Membership Chair</i></li>
		<li>
			<ul>
				<li>Officer overseeing the transition of members from new initiates into full active members for a professional fraternity focused on computer science and information technology</li>
				<li>Handling communication between the executive board to over 70 active members and 17-20 pledges of the professional fraternity.</li>
				<li>Leading weekly committee meetings in which we discuss membership topics and issues</li>
				<li>January 2016 - current</li>
			</ul>
		</li>
	</ul>

	<p>College Courses:</p>
	<ul>
		<li>Upcoming:</li>
		<li>
			<ul>
				<li>EECS 388 - Introduction to Computer Security</li>
				<li>EECS 485 - Web Databases</li>
				<li>EECS 498 - Natural Language Processing</li>
				<li>ASIAN 304 - The Art of Yoga</li>
			</ul>
		</li>
		<li>EECS 281 - Data Structures and Algorithms</li>
		<li>EECS 370 - Introduction to Computer Organization</li>
		<li>SI 206 - Agile Web Development</li>
		<li>ASIAN 230 - Introduction to Buddhism</li>
		<li>STATS 450 - Introduction to Probability</li>
		<li>STATS 250 - Introduction to Statistics and Data Analysis</li>
	</ul>


	<p>Other involvement:</p>
	<ul>
		<li>Member of the UM Backpacking Club, where I helped lead two backpacking trips: Smoky Mountains/Appalachian Trail and Zion/Bryce National Parks</li>
		<li>Visual Media (Photo/Video) Director for National Honor Society in high school</li>
		<li>Previous executive band student, playing tenor and alto saxophone</li>
		<li>Tennis player for 10+ years</li>
	</ul>

	<p>Additional:</p>
	<ul>
		<li>Expanding knowledge of C, C++, Python, Ruby on Rails, HTML/CSS</li>
		<li>Published studio, travel, and nature photographer and web designer</li>
		<li>Proficient in Adobe Photoshop, Final Cut Pro, and Microsoft Office</li>
		<li>Conversational in Spanish</li>
	</ul>

{% endblock %}